.App {
  text-align: center;
}

.App h1{
  font-size: xx-large;
  margin-top: 350px;
}

#hello, #welcome{
  font-size: 222px;
  color: #fff;
}

.zustand-container{
  position: relative;
  z-index: 10;
  position: fixed;
  color: #fff;
}

.btn{
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: black;
  border-radius: 2px;
  border:solid 1px #fff;
  margin: 5px;
  cursor: pointer;
}